<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/postcss/8.4.5/postcss.min.js" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/autoprefixer/10.4.0/autoprefixer.min.js" rel="stylesheet">

</head>
<body>
  <div>
    <app-bank-form></app-bank-form>
  </div>

</body>
</html>